@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<svg class="wheel" width="300" height="300" xmlns="www.w3.org">
    <!-- Bowling Ball -->
    <circle cx="60" cy="140" r="60" fill="#3a6788" />
    <!-- Finger Holes -->
    <circle cx="50" cy="125" r="5" fill="#111" />
    <circle cx="70" cy="125" r="5" fill="#111" />
    <circle cx="60" cy="105" r="5" fill="#111" />



</svg>